.gallery__item {
  width: 100%;
  min-width: 288px;
}

@media screen and (min-width: 768px) {
  .gallery__item {
    min-width: 352px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery__item {
    min-width: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery__item {
    min-width: 284px;
  }
}
