.lead__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px; /*  тут точно дробью надо, пока хз как посчитать надо */
  text-align: center;
  color: #ffffff;
  padding: 0 0 16px 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
    .lead__title {
      font-size: 96px;
      line-height: 100px;
    }
}