.photo-grid__grid-item {
  width: 100%;
  min-width: 288px;
}

@media screen and (min-width: 768px) {
  .photo-grid__grid-item {
    width: 100%;
    min-width: 352px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid__grid-item {
    width: 100%;
    min-width: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid__grid-item {
    width: 100%;
    min-width: 284px;
  }
}
