.place__website {
}

@media screen and (min-width: 768px) {
  .place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

  }
}

@media screen and (min-width: 1024px) {
  .place__website {
  }
}

@media screen and (min-width: 1280px) {
  .place__website {
    padding-bottom: 48px;
    padding-left: 40px;
  }
}
